[2017-12-04 23:27] bomsy opened #831 "[Launchpad] Connection spam via network-request.js"
STR:
- open launchpad
- wait

ER:
- nothing happens

AR:
- console gets spammed with denied connection requests

Video:
![launchpad-spam](https://user-images.githubusercontent.com/23530054/33571924-c43ec728-d931-11e7-85f2-a07802763d02.gif)

[2017-12-05 04:15] raghur commented on #650
@SwagMuffinMcYoloPants - no nothing here though you'll have to ask @tromey. I have gone back to using Chrome for debugging and on to other stuff.

[2017-12-05 15:16] tromey commented on #650
Sorry about the delay on this.  I'm not actively working on source maps now and so I've also lost some state.

@raghur I think in your screenshot, if you go to the `webpack://` part, you would see the original sources.

@SwagMuffinMcYoloPants what problems are you seeing; with what version of Firefox; and do you have a way to reproduce the problem?

[2017-12-05 17:40] SwagMuffinMcYoloPants commented on #650
@tromey I have an application that's using Spring Security and the Javascript files require authentication  I just get an error saying that Firefox couldn't parse the source map because it's not valid JSON.  I take the Javascript code and move it outside the Spring Security enforced web app and the source maps load.  My only guess it that when it load the source maps, it's redirecting to the login

[2017-12-05 18:09] tromey commented on #650
This sounds like a different bug - https://bugzilla.mozilla.org/show_bug.cgi?id=1404245

[2017-12-05 19:08] SwagMuffinMcYoloPants commented on #650
Thanks @tromey

[2017-12-06 14:20] nchevobbe opened #833 "Allow passing an `onControlClick` handler to the ObjectInspector"
We could need this for several things :
- jump to definition in the debugger
- put object in the sidebar in the console (even if we should probably not have different behavior on the same user input, that's a question for a future issue)

[2017-12-06 14:57] nchevobbe opened #834 "[UX] ObjectInspector inline-end icons"
What I call inline-end icons here are icons related to the object inspector, and placed at the end of it.
At the moment we have multiple icons:
- select node in inspector
- jump to function definition (but could be extended to all variables)

we'll also soon have, open object in console sidebar.
And in the future some others (e.g. filter/find in object, diff, ...)

So now imagine a node logged int

[2017-12-06 14:59] nchevobbe commented on #834
The first solution would be to put everything into a context menu. But, this is not really discoverable.

We could also decide what icon has the most sense in which content, and then have some overflow menu where we would place the other actions ?

[2017-12-07 09:04] nchevobbe opened #835 "ElementNode attribute are not cropped"
**Steps to reproduce:**
1. Evaluate:
[code]

**Expected results:**
The `data-test attribute` is cropped

**Actual results:**
It is not cropped (and does not wrap)

[2017-12-07 09:08] nchevobbe opened #836 "ElementNode with LongString attributes throw"
Steps to reproduce:
1. Evaluate:
[code]

Expected results:
The data-test attribute is displayed with longString's initial value

Actual results:
The data-test attribute fails to render (`Invalid Object`), and there is an error in the browser console:
[code]

[2017-12-08 00:51] bomsy opened #838 "A major version bump to autoprefixer 7.2.x breaks launchpad"
Autoprefixer released version 7.2.x, which break the launchpad because of

https://github.com/devtools-html/devtools-core/blob/master/packages/devtools-launchpad/src/components/LandingPage.css#L103.

Not sure what it is try to do with `text-align`

Here's a screen shot of the error
![image](https://user-images.githubusercontent.com/792924/33745892-5f91bb96-dbb1-11e7-8fd1-685e51570ee9.png)

May We

[2017-12-08 01:02] bomsy commented on #838
https://github.com/postcss/autoprefixer/issues/952

[2017-12-08 02:02] bomsy commented on #838
Fixed by new autoprefix 7.2.2 release!

[2017-12-08 02:02] #838 closed

[2017-12-08 07:27] lukaszsobek opened #839 "[Launchpad] Unhandled promise rejection stops pages from rendering"
STR:
- open debugger
- in the tab being debugged go to http://todomvc.com/

ER: see the source
AR: editor is blank

When there is a rejection of the onConnect call in `launchpad/src/main.js` the whole app stops loading. Adding a catch condition should enable proper error reporting and functioning of the loaded app at the same time.

[2017-12-08 18:09] lukaszsobek commented on #839
Implemented

[2017-12-08 18:09] #839 closed

[2017-12-08 22:35] Loirooriol opened #841 "Tell the user what to do with Restricted objects"
1. Load `data:text/html,<iframe sandbox srcdoc="Inspect me"></iframe>`
3. Right-click "Inspect me" and choose "Inspect Element"
3. Switch to the console, enter `$0`.

A `Restricted` object is shown. Reps should show some kind of message explaining that the targeted document is not allowed to fully access that object, and that only a subset (usually none) of the properties will be shown. It should

[2017-12-08 23:00] violasong commented on #834
I like the idea of showing most used icons, with other actions in an overflow menu (or just the contextual menu). Sounds like this is an ongoing project as we add more actions. I'm adding this to my queue for further discussion along with #803.

[2017-12-11 15:05] Loirooriol opened #842 "Symbol grip with actor is displayed as "Object { }""
[Bug 1424722](https://bugzilla.mozilla.org/show_bug.cgi?id=1424722) will create actors for symbols so that they can be stored as variables.

The problem is that reps seems to consider that a grip with an actor must refer to an object, and displays `Object {  }` instead of `Symbol(name)`. The old console frontend works fine.

Cc @nchevobbe

[2017-12-11 16:08] AnshulMalik commented on #842
I can look into this :)

[2017-12-12 06:37] AnshulMalik commented on #842
I need some more inputs here please, Reps detects Symbol() and displays it as Symbol.
I might not be getting the point :(

[2017-12-12 14:13] Loirooriol commented on #842
You need to add the patch from the linked bug, https://reviewboard.mozilla.org/r/207016/diff/1#index_header. It adds an actor to the symbol grip. Right now the symbol grip has no actor so it's displayed correctly.

[2017-12-12 15:34] nchevobbe commented on #842
Anshul, this means we have to update the symbol stubs in reps code to match
what we'll have with oriol's patch. Then, we can see the test failing and
fix them.

My feeling is that here we probably default to object because supportObject
now return false.

Le 12 déc. 2017 08:13, "Oriol Brufau" <notifications@github.com> a écrit :

[2017-12-12 15:43] jasonLaster opened #843 "[Reps] Object with 20,000 properties is slow"
GWT applications can have 20,000 member properties in the window object.

Here is a small test case that shows an array working, but an object failing:
https://large-objs.glitch.me/

CC @goldenPenguin http://github.com/devtools-html/debugger.html/issues/1492

[2017-12-12 16:19] Loirooriol commented on #842
OK, the problem is that `getGripType` is supposed to return `"symbol"` for symbol grips.

[code]

But `isGrip` returns true is there is an `actor` property:

[code]

so `object.class` is returned instead, which is undefined.

As I said in some other bug, this `isGrip` function is too naive and unreliable, it should just be removed in favor of the `noGrip` parameter.

And can grips really be string

[2017-12-12 16:29] Loirooriol commented on #843
See #608.

[2017-12-12 16:34] Loirooriol opened #844 "Stop using unreliable isGrip"
The `isGrip` function is completely unreliable:

https://github.com/devtools-html/devtools-core/blob/e9238260b69412731d3f158444be5a10eb8f2658/packages/devtools-reps/src/reps/rep-utils.js#L15-L17

It should be removed in favor of the `noGrip` parameter.

Otherwise nasty bugs like https://bugzilla.mozilla.org/show_bug.cgi?id=1377668 may happen. Just fail fast and loud to detect what uses should pass

[2017-12-12 16:43] jasonLaster commented on #843
Thanks @Loirooriol.

[2017-12-12 16:43] jasonLaster commented on #843
Hey @GoldenPenguin stop by our slack

[2017-12-12 17:06] GoldenPenguin commented on #843
Will do :).

[2017-12-12 21:39] nchevobbe commented on #452
The simplest way we can go right now would be to pass the [StackTrace component](https://searchfox.org/mozilla-central/source/devtools/client/shared/components/StackTrace.js) to the Reps when we create them.
In the console, it is done in the [GripMessageBodyComponent](https://searchfox.org/mozilla-central/rev/9d920555ec81f1c9d4b7fa3b08e23eb88efb60e1/devtools/client/webconsole/new-console-output/co

[2017-12-12 22:22] #682 closed

[2017-12-13 08:42] kootoopas commented on #500
/claim

[2017-12-13 14:51] nchevobbe commented on #500
@kootoopas hey, I see you are interrested in this. Do you want me to assign the issue to you (we don't have /claim support here for now)

[2017-12-13 16:27] bgrins commented on #684
Updated STR:

execute: `document.styleSheets[0].cssRules`

[2017-12-13 17:04] weilonge commented on #684
I would like to take this issue. Can someone help me?

[2017-12-13 17:04] nchevobbe commented on #684
Sure !

[2017-12-13 17:05] jasonLaster commented on #500
@bgrins @nchevobbe I'd like to discuss some of the UX here.

I found the old debugger variable view ux confusing at times.

[2017-12-13 18:35] lukaszsobek opened #846 "[Launchpad] Reloading previously closed external tab causes blank screen."
STR:
- open website in target browser
- open launchpad in debugger browser
- navigate to debugger tab in debugger browser
- close website in target browser (or whole target browser)
- reload debugger in debugger browser

ER: Debugger starts up without loaded tabs or source.

AR: Empty debugger +
index.js:195 Uncaught (in promise) TypeError: Cannot destructure propertytabof 'undefined' or 'null'. a

[2017-12-13 19:37] kootoopas commented on #500
@nchevobbe I'm eager to implement once the UX decisions are resolved! :)

[2017-12-13 21:11] nchevobbe commented on #500
FYI, I find this feature very confusing as well :D We do definitely need to discuss about it

[2017-12-14 22:33] lukaszsobek opened #855 "[Launchpad] Closing external debugged tab causes unhandled promise rejection"
STR:
- open website in target browser
- open launchpad in debugger browser
- navigate to debugger tab in debugger browser
- close website in target browser (or whole target browser)

ER: Debugger returns to launchpad

AR: Debugger keeps editor open despite source being closed

[2017-12-15 08:45] kootoopas commented on #835
Call me weird but I find the expected cropped display hindering accessibility, since there's no way of seeing cropped attributes. Shouldn't they wrap ideally?

Chrome offers the same single line non-crop functionality btw:
<img width="560" alt="screen shot 2017-12-15 at 10 41 40 am" src="https://user-images.githubusercontent.com/601001/34033902-e90986d2-e184-11e7-9eb3-736c7b82514a.png">

[2017-12-15 08:58] kootoopas commented on #807
I find the proposed multiline representation more visually scannable, since it replicates its originally typed/constructed form.

It seems that chrome handles it like that too.
<img width="130" alt="screen shot 2017-12-15 at 10 50 37 am" src="https://user-images.githubusercontent.com/601001/34034352-c466f344-e186-11e7-991c-e4e2e3c23770.png">

I haven't figured out how to get the string wrappers ye

[2017-12-15 15:47] jasonLaster commented on #855
Nice idea

[2017-12-15 16:03] kootoopas commented on #566
@nchevobbe I'm currently working on this feature. Got the functionality down and I'm updating the `grip*` tests to be in sync with the length title postfix.

<img width="365" alt="screen shot 2017-12-15 at 2 53 01 pm" src="https://user-images.githubusercontent.com/601001/34049784-5669c20a-e1c1-11e7-9759-1d5554ac6fc9.png">

[2017-12-15 16:43] jasonLaster commented on #566
Nice @kootoopas!

[2017-12-15 22:21] lukaszsobek commented on #855
That will be fun!

[2017-12-15 22:53] weilonge opened #857 "Error when pushing"
This issue happens when I try to apply `git push origin HEAD`:
[code]

[2017-12-16 15:27] kootoopas commented on #857
Seems like I'm not the only one who stumbled upon this. 🙂
The trailing `-s` option for `stylelint` and `eslint` on the following line cause the issue:
[code]

I've checked the docs for `yarn run` and there seems to be no `-s` option whatsoever.

[2017-12-16 15:41] jasonLaster commented on #857
thanks @kootoopas @weilonge feel free to make a PR :)

[2017-12-16 20:39] #680 closed

[2017-12-16 20:59] #684 closed

[2017-12-16 21:08] nchevobbe commented on #857
Feels like `-s` for `stylelint` could be the same as `--syntax`, which expect a given file type (See in styleint CLI doc https://stylelint.io/user-guide/cli/)

[2017-12-16 21:13] nchevobbe commented on #857
Can't make it fail for some reason :( Even after yarn nom.
@weilonge  or @kootoopas could you try to remove the `-s` arg after `yarn lint-css` and tell us if that fixes the issue ?

[2017-12-17 12:28] nchevobbe commented on #835
I'd say we could crop and have a title attribute to show the whole string. Or we could make the ellipsis clickable for people who want to see the whole rule.

[2017-12-18 17:07] Loirooriol opened #862 "Blank page when jumping to function created in console"
1. Open web console
2. Enter `(function(){})`
3. Click "Jump to definition"

Result:
 - Blank page opens
 - Browser console shows this error:
   NS_ERROR_FAILURE: Component returned failure code: 0x80004005 (NS_ERROR_FAILURE) [nsIWebNavigation.loadURI]  [viewSource-content.js:331](https://searchfox.org/mozilla-central/rev/b1e0ae2573e88391a7ed92407568be77994c9317/toolkit/components/viewsource/conte

[2017-12-18 17:13] nchevobbe commented on #862
Thanks for filing @Loirooriol .
Seems like we had this case covered in the old console https://searchfox.org/mozilla-central/source/devtools/client/webconsole/console-output.js#112-113 .

[2017-12-18 17:28] Loirooriol commented on #862
While you are at it, in the old console `Function.prototype` was especially problematic ([bug 1297466](https://bugzilla.mozilla.org/show_bug.cgi?id=1297466)) because bizarrely it must be an interpreted function. It behaves well in the new console, but please add a test if there is none.

[2017-12-18 17:39] nchevobbe commented on #862
There is a test, not specifically for `Function.prototype`, but for function grip with a `null` url, which is the case of `Function.prototype`.

[2017-12-19 12:31] Loirooriol opened #864 "Non-cropped URLs are not rendered"
[code]

Result: empty string
Expected: a link

Regressed by [bug 1419479](https://bugzilla.mozilla.org/show_bug.cgi?id=1419479), probably https://github.com/devtools-html/devtools-core/commit/e9238260b69412731d3f158444be5a10eb8f2658. Causes [bug 1426094](https://bugzilla.mozilla.org/show_bug.cgi?id=1426094).

Cc @nchevobbe

[2017-12-19 13:05] nchevobbe commented on #864
Thanks @Loirooriol . I'll push a PR shortly, with a test for this case.

Eventually, we could get rid of this `member` prop and force consumer to only pass a falsy crop limit when they don't want a cropped string

[2017-12-19 13:22] #864 closed

[2017-12-19 18:41] kootoopas commented on #550
@nchevobbe Hello!

Since there are a couple of issues (#835, #836, #518) that seem dependent on this, which I'm also interested in resolving, I'll tackle this one first.

Shame that there's no ability to `/claim` in this repo though! It really motivates me to publicly state that I'm going to undertake something and I'm pretty sure I'm not the only one who feels this way. :)

[2017-12-19 22:05] nchevobbe commented on #550
@jasonLaster , we need `/claim` support here :D

[2017-12-19 22:10] nchevobbe commented on #842
@AnshulMalik do you have some time to look at this ? I think we should move quickly here since https://bugzilla.mozilla.org/show_bug.cgi?id=1424721 landed, which means Symbol will be broken in Nightly in the next days.

[2017-12-20 04:53] AnshulMalik commented on #842
I am kind of lost here @nchevobbe, trying to make sense of the code.

[2017-12-20 05:06] #857 closed

[2017-12-20 14:19] Loirooriol commented on #842
In fact [bug 1424721](https://bugzilla.mozilla.org/show_bug.cgi?id=1424721) is not problematic, but I would like this to be fixed so that I can fix bug [1424722](https://bugzilla.mozilla.org/show_bug.cgi?id=1424722).

@AnshulMalik Currently symbol grips are like

[code]

They will become something like

[code]

So `getGripType` needs to be updated to what I said in https://github.com/devtools-html

[2017-12-20 14:20] #862 closed

[2017-12-20 16:34] kootoopas commented on #836
@nchevobbe Hah! Seems that my PR (#868) fixed this one too. 😎

<img width="1356" alt="screen shot 2017-12-20 at 6 33 44 pm" src="https://user-images.githubusercontent.com/601001/34217511-5cb1a37a-e5b4-11e7-899b-19162be6a309.png">

[2017-12-20 16:43] nchevobbe commented on #836
Nice !

Le 20 déc. 2017 17:34, "Fotis Koutoupas" <notifications@github.com> a
écrit :

[2017-12-21 04:27] AnshulMalik commented on #842
Yeah, thanks @nchevobbe

I agree with @Loirooriol, `isGrip` is no longer needed.

[2017-12-23 05:06] frio80 opened #871 "Network requests that are subject to Tailing should be identified as such in the Developer Tools"
It would be great if the Dev Tools Network Monitor tab would show which requests were subject to tailing[0].  It would also be great to show _why_, how long and any other information available about the tailing action.

[0] https://www.janbambas.cz/firefox-57-delays-requests-tracking-domains

[2017-12-23 11:21] nchevobbe commented on #871
Hello @frio80 , thanks for filing this issue.
The netmonitor development does not happen in Github though, but on the Firefox repository.
I created a bug on Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1426925, so we can work on it. I'll close this bug since it is now tracked in the proper place.

If you want to follow the process on that bug, you can create a Bugzilla account with your G

[2017-12-23 11:21] #871 closed

[2017-12-24 15:16] MikeRatcliffe opened #873 "Use object.constructor.name where available"
#### STR

1. Type the following into the web console:
[code]
2. In Firefox DevTools we display `Object {  }`
3. Chrome DevTools checks for `instance.constructor.name` for Object types and displays the constructor name if it exists e.g. `myClass {}`, which is more informative.

[2017-12-24 18:27] Loirooriol commented on #873
What if an object has a `constructor` property but it's not a function or it's not a constructor of the object?
What if the name is e.g. `"Array"` but the object is not an exotic array? This could mislead users.
What if the constructor or the name change?

What the console displays is the class, which is supposed to be an inherent characteristic of the object. The value of `object.constructor.name

[2017-12-24 20:13] david95thinkcode commented on #873
@Loirooriol ,I understand what you're saying.
When you ask

Seriously why somebody would choose "Array" as an object name ? I think it's rare and not a good practice.

When I dev, I don't want to have to expand the object before knowing its type. Admit, It's more efficient when you see object name. I really want that feature on Firefox Devtool.

[2017-12-24 20:22] david95thinkcode commented on #873
In my opinion, this one is more afformative
![chrome-2](https://user-images.githubusercontent.com/24503308/34328975-7daacb7c-e8ef-11e7-964d-96e72a729305.png)
We can always expand the object to see more informations about it.

[2017-12-24 22:29] Loirooriol commented on #873
It doesn't need to be explicitly chosen, e.g. `Object.create(Array.prototype)` creates an ordinary object that inherits from a constructor with an `"Array"` name, but it's not an exotic array, so the console should not say `Array`.

[2017-12-26 16:52] Loirooriol opened #875 "URLs between cropLimit/2 and cropLimit are not cropped properly"
[code]

Result: `"http://example.com/fooba…://example.com/foobarbaz"`
Expected: `"http://example.com/foobarbaz"`

Regressed by [bug 1419479](https://bugzilla.mozilla.org/show_bug.cgi?id=1419479), probably https://github.com/devtools-html/devtools-core/commit/e9238260b69412731d3f158444be5a10eb8f2658. Causes [bug 1427095](https://bugzilla.mozilla.org/show_bug.cgi?id=1427095).

Cc @nchevobbe

[2017-12-27 03:39] jasonLaster commented on #875
this might be similar as the URLs encoding is also off here
https://github.com/devtools-html/debugger.html/issues/4902

[2017-12-27 13:50] nchevobbe commented on #875
devtools-html/debugger.html#4902

I don't get what is your issue jason ?

[2017-12-27 14:08] #875 closed

[2017-12-27 14:11] nchevobbe commented on #875
Sorry about that @Loirooriol . The fix will be part of a devtools-reps-0.18.0 bundle

[2017-12-27 15:11] #842 closed

[2017-12-28 07:08] wldcordeiro opened #877 "Launchpad: addComponentAsRefTo Error"
Copying over from https://github.com/devtools-html/debugger.html/issues/4479 courtesy of @darkwing

Every time I update to this repo's master to get the new patches, then do a `yarn install`, I see the following in the launchpad (http://localhost:8000):

[code]

I can `rm -rf node_modules && yarn nom` but this issue isn't going away so I presume there's a real problem somewhere.

[2017-12-29 21:15] david95thinkcode commented on #873
I think the console should say it cause that's what we want to see (the constructor name).
Actually,

1. when we make a `console.log` of an **Array** on firefox devtools, we see something like `Array["Baba", "Bobo", "Foo"]`. It's informative, that's right.
2. when we make a `console.log` on a object that inherits from a constructor with an "Array" name, we will see something like :  `Object { exam

[2017-12-29 22:26] Loirooriol commented on #873
Not me. What I want to see is the (Mozilla's generalization of the) ES5 [[Class]] internal slot of the object. There is no other way to see this useful info in the console, and you want to remove it and replace it with a redundant one which can be obtained just by expanding the object.

Note the brackets nor the number of items can't be used to distinguish them, and that's because there are [pseud

[2017-12-31 14:19] Loirooriol opened #878 "Changes after adding symbol actors"
In [bug 1424722](https://bugzilla.mozilla.org/show_bug.cgi?id=1424722) I plan to add a symbol actor to symbol grips. Then,

 - The symbol stubs should be updated.

   https://github.com/devtools-html/devtools-core/blob/94aae83569c2d27432008775bef7795ef66fe550/packages/devtools-reps/src/reps/stubs/symbol.js#L6-L13

   Something like `actor: "server1.conn1.child1/symbol" + someNumber,`

 - A `data-l

[2018-01-06 11:05] nyrosmith opened #882 "[Editor] Update CodeMirror"
The latest CodeMirror releases have lots of improvements regarding js/jsx & typescript highlighting.
Maybe updating also fixes https://github.com/devtools-html/debugger.html/issues/2944

[2018-01-06 18:03] nyrosmith commented on #882
Closing because we are moving the editor back to the debugger repo https://github.com/devtools-html/debugger.html/issues/5043#issuecomment-355763054

[2018-01-06 18:03] #882 closed

[2018-01-06 23:39] Loirooriol commented on #878
Fixed in #879

[2018-01-06 23:39] #878 closed

[2018-01-07 00:06] Loirooriol opened #883 "getTitle should check noGrip"
[code]

Result: `"Array"`
Expected: `"Object"`

Causes https://bugzilla.mozilla.org/show_bug.cgi?id=1428587

Just check `props.noGrip` and then use `DEFAULT_TITLE` or something like this.

[2018-01-07 00:22] Loirooriol commented on #883
Well, in fact attempting to handle both grips and raw objects is a complete madness. I think it would be much more reliable to check `noGrip` only once and, if true, attempt to create a grip as close as possible to what object.js would do. And then all the following code can safely assume it's a grip.
@nchevobbe What do you think?

[2018-01-09 14:10] Loirooriol opened #885 "Do not toggle object inspector nodes when selecting text"
1. Open the console
2. Enter `inspect({a: () => {}})`
[code]
3. Select `fun`

Before you can e.g. copy it, the property is expanded and `fun` disappears:
[code]

[2018-01-09 16:28] nchevobbe opened #886 "Non expandables nodes on Tree with multiple roots are not aligned"
Because we set the extra margin to align non-expandable and expandable nodes on the `indent` element, if we have multiple roots, they are not aligned (because they don't have any `indent` elements)

We can probably fix this by setting the margin not on the indent, but on the node body.

[2018-01-09 16:30] nchevobbe commented on #886
/claim

[2018-01-09 21:16] jasonLaster opened #887 "Create Scope Bindings test cases"

[2018-01-10 12:59] nchevobbe opened #890 "Add reps test for Generator"
In [browser_webconsole_bug_632347_iterators_generators.js](https://searchfox.org/mozilla-central/rev/03877052c151a8f062eea177f684a2743cd7b1d5/devtools/client/webconsole/test/browser_webconsole_bug_632347_iterators_generators.js#62-63), we were testing that generators were displayed in the console output as `Generator`.

We do have the proper output in the new frontend, but no test for it.
Here we

[2018-01-10 17:32] #886 closed

[2018-01-11 13:29] nchevobbe commented on #885
@weilonge this might be a good one to work on if you plan to contribute here :)

[2018-01-11 14:39] weilonge commented on #885
@nchevobbe  Does this mean that there should be the string "function" in "a: a()"? Like this?
▼ {…}
  ▼ a: **function** a()
     length: 0
     name: "a"
​  ▶ __proto__: Object { … }

[2018-01-11 14:50] nchevobbe commented on #885
@weilonge not really, it means that in https://github.com/devtools-html/devtools-core/blob/b39a79d112b2c99b800e2ad33f1c611904de9cdc/packages/devtools-reps/src/object-inspector/index.js#L369, if we have a text selection going on, we should not call `setExpanded` (https://github.com/devtools-html/devtools-core/blob/b39a79d112b2c99b800e2ad33f1c611904de9cdc/packages/devtools-reps/src/object-inspector/

[2018-01-11 14:51] Loirooriol commented on #885
I was thinking something like

[code]

[2018-01-12 08:42] #890 closed

[2018-01-15 18:47] chrisjasp opened #902 "Devtools freezing and unusable"
I have multiple applications that I use dev tools for. They all use Webpack and sourcemaps. I'm not exactly sure what causes the issues but I am unable to use devtools at all. The pages work fine when tools are not open. As soon as I open the dev tools, links, buttons, anything on the screen is completely frozen. I can navigate around in dev tools but I cannot use the Web App anymore. There are a

[2018-01-16 12:49] nchevobbe commented on #902
Hello  @chrisjasp !
This repo is for small packages that are used by devtools, so issues would be better handled on [Bugzilla](https://bugzilla.mozilla.org) (on which you can log on with a Github account).
We also have a discourse, where some people already shared their slowness and where we do respond as well (see https://discourse.mozilla.org/t/devtools-slow-and-occasionally-unresponsive-on-some

[2018-01-16 16:19] chrisjasp commented on #902
I'm not actually experiencing any slowness. It it completely freezing and unusable like I originally said. I will close the issue and report it to the proper place. Thank you for your feedback.

[2018-01-16 16:19] #902 closed

[2018-01-17 16:48] nchevobbe commented on #902
@chrisjasp what do you mean by "frozen" ? What panel are you trying to use ? Could it be that there is a `debugger;` statement somewhere in your code ?

[2018-01-17 17:34] chrisjasp commented on #902
This happens across several applications. The common thing between them is webpack. I confirmed there are no debugger statements. It happens across multiple panels. The only other consistent thing I can come up with is that if the last console output happens to be a warning, that is when it seems to happen. If it is just info in the console it seems to be okay until a warning comes up. The warning

[2018-01-18 14:44] nchevobbe opened #904 "ObjectInspector is not updated if roots changed but kept same path"
Steps to reproduce:
1. Set an ObjectInspector with a `roots` object
2. Expand it
3. Update the `roots` object to another object, but keep the same path value

Expected results:
The ObjectInspector is updated and shows the new `roots` children

Actual results:
The ObjectInspector is not updated.

This is due to the fact that we cache nodes, and never clear the cache. The `getChildren` then uses thi

[2018-01-19 17:01] #904 closed

[2018-01-20 17:11] jasonLaster opened #908 "[tree] detect itemHeight"
The tree component assumes `itemHeight` will be passed in. The problem is that the height often changes and is then wrong.

It would be great if the tree could calculate the `itemHeight` when it mounts.

[2018-01-22 05:56] #157 closed

[2018-01-22 08:09] nchevobbe commented on #908
we don't have itemHeight anymore.
It was used to do some virtualization but wasn't used.
What is the original issue ?

[2018-01-22 13:56] jasonLaster commented on #908
that the heights are not accurate when you scroll because we were using the wrong value for itemHeight :)

[2018-01-22 14:42] nchevobbe commented on #908
I am pretty sure we  do not set the height of elements on the Tree component.
Here's how we handle scrolling :

https://github.com/devtools-html/devtools-core/blob/57edbf8992acf55661e2b8c0faf144dd3b89c9e5/packages/devtools-components/src/tree.js#L548-L578

[2018-01-25 01:40] jasonLaster opened #909 "[SourceMaps] Requests for sourcemaps are done without credentials"
CC:
https://github.com/devtools-html/debugger.html/issues/4812
https://bugzilla.mozilla.org/show_bug.cgi?id=1404245

Hi everyone.

It looks like the requests for the sourcemaps (CSS and JS) are done without credentials. I have a 401 error when the site is closed by a login. If I open the access, everything works fine again. The soucemaps work great on Safari and Chrome btw, so it’s not a sourcemap

[2018-01-25 01:48] jasonLaster opened #910 "Show event listeners in EventTargets"
CC http://github.com/devtools-html/debugger.html/issues/4751

If a value in the watch/variable view is an EventTarget, it would be nice to be able to expose the event listeners on it.

---

I think we can do this by showing a field in the Reps element view.

[2018-01-25 14:18] jasonLaster opened #912 "Tree hover color is too bright"
it's too bright :)

[code]

![](http://g.recordit.co/NasrC10tVe.gif)

[2018-01-29 19:54] jasonLaster opened #914 "[Tree] weird scroll behavior"
The tree has a funny scroll behavior with up and down arrows

http://g.recordit.co/qAO0ndrlwT.gif

[2018-01-30 16:37] MikeRatcliffe commented on #912
/claim

[2018-01-31 14:47] juliandescottes opened #917 "devtools-connection uses deprecated listTabs API"
In Bug https://bugzilla.mozilla.org/show_bug.cgi?id=1272774 , the listTabs API was modified. The callback argument is no longer the first argument but the second, and in any case this method returns a promise which should be used rather than passing a callback.

The only method using this deprecated API is https://github.com/devtools-html/devtools-core/blob/23a2c8e007c3db33ffa795ff11bfb06770d7af0b

[2018-01-31 18:28] #917 closed

[2018-01-31 18:29] #912 closed

[2018-02-06 19:21] yzen opened #923 "Sync changes from https://bugzilla.mozilla.org/show_bug.cgi?id=1428432"
Changes in the [Bug 1428432](https://bugzilla.mozilla.org/show_bug.cgi?id=1428432) are related to improving keyboard accessibility further:

* Home key selects first node in the tree
* End key selects last node in the tree
* Allow specifying custom action for Space/Enter on a key.

[2018-02-08 07:50] nchevobbe commented on #883
This bug is fixed:

![image](https://user-images.githubusercontent.com/578107/35961186-08961e36-0cad-11e8-93bb-12317e4d4cda.png)

[2018-02-08 07:51] nchevobbe commented on #883
ignore my previous comment

[2018-02-08 08:10] nchevobbe commented on #883
In fact, for now, I don't see any reason to check for the class property on the object.

[2018-02-08 08:25] nchevobbe commented on #908
Closing this as INVALID, feel free to re-open it if you think I'm wrong :)

[2018-02-08 08:25] #908 closed

[2018-02-08 16:28] Loirooriol commented on #883
No, that's so important, e.g. if I have a dead object I want the console to show `DeadObject {  }` instead of `Object {}`.

[2018-02-08 16:39] nchevobbe commented on #883
I agree, but this would be picked up by the Grip object I guess ? How can I test this DeadObject scenario ? We'd better have a test here for it as well

[2018-02-08 16:46] Loirooriol commented on #883
I think the easiest way to obtain a dead object is running the following code in a privileged web console (like browser console or web console in an `about:config`):

[code]

But there are also various other objects that don't have a specific grip or rep type, e.g. `getSelection()` produces a `Selection` object.

[2018-02-08 17:11] nchevobbe commented on #883
Thanks for the tip @Loirooriol  :)
So I was able to get a dead object, and the packet looks like the following:
[code]

which renders as `DeadObject {  } ` with my patch on Object.js. I think (and I will assert that with a test), that the DeadObject is rendered with the `Grip` rep.

[2018-02-08 17:27] nchevobbe commented on #883
Pushed https://github.com/devtools-html/devtools-core/pull/926 to deal with DeadObjects

[2018-02-08 18:27] Loirooriol commented on #883
OK, I thought ObjectRep and GripRep were the same. Then I think it's OK.

[2018-02-12 12:45] #550 closed

[2018-02-12 12:48] nchevobbe commented on #495
This is now fixed

[2018-02-12 12:48] #495 closed

[2018-02-12 13:25] kootoopas commented on #836
@nchevobbe Hmm. I think that this one should be fixed too as a side effect of #868. 🤔

[2018-02-12 13:37] nchevobbe commented on #836
yes, it is ! We should add a test for it though, so we don't regress

[2018-02-12 16:12] nchevobbe commented on #836
I am going to work on it

[2018-02-14 13:00] #836 closed

[2018-02-15 09:20] nchevobbe opened #933 "Reps throw an error when dealing with XULDocument"
The following grip throws:
[code]

There's 2 issues here:
 - The grip is rendered by the Grip rep, though it should be handled by document
 - Because of this, the getProps function throws at https://github.com/devtools-html/devtools-core/blob/12950c64abdf30aa91c9525710aba1668ec80e63/packages/devtools-reps/src/reps/grip.js#L244
because `properties` is undefined.
Properties is assigned here :
https:

[2018-02-16 09:37] #883 closed

[2018-02-16 09:37] #933 closed

[2018-02-19 08:40] nchevobbe opened #936 "Investigate using Fragments when possible"
This would help us lower the number of dom nodes and might improve performance (less nodes, less time in dom diffing ?)

[2018-02-19 13:09] Tazmain opened #939 "Delete all Watch expressions"
Can we please get the functionality to right click, in the Watch Expressions area and delete all watches in the Debugger window?

[2018-02-19 13:12] #939 closed

[2018-02-20 10:03] nchevobbe opened #940 "Allow ObjectInspector nodes to have custom classname"
In https://github.com/devtools-html/debugger.html/issues/5426, we are discussing having separate styling for "Block" nodes in the Scopes panel of the debugger.
The Scopes panel uses the ObjectInspector, and those "Block" nodes are mixed with the other nodes in the data structure passed to the ObjectInspector.

So here, we would need to have a way to specify, from the node data, a specific classnam

[2018-02-20 10:08] nchevobbe opened #941 "We should be able to expand longStrings in the ObjectInspector"
**Steps to reproduce**
1. Evaluate `({long: "ab ".repeat(10000)})`

**Expected results**
I can expand the `long` property to see the whole string content

**Actual results**

I don't have any way to see the whole string content

---

@kootoopas I am assigning this to you since you started to work in it in another PR, but feel free to not take it if you don't want to/don't have the time :)

[2018-02-20 10:15] kootoopas commented on #941
Oh hey @nchevobbe. Cool, I'm currently working on this anyway. :)

How do you think it's the best way to expand it?
* The clickable existing trailing ellipsis option seems that it can go unnoticed to me.
* If we were to make the whole string rep clickable, wouldn't that be an overkill?
* I like the idea of an expand button at the end of the string... Maybe label it with `…` and remove the existing

[2018-02-20 10:24] nchevobbe commented on #941
So, I think we should align with what we are doing in the json viewer: if you go to [this URL](data:application/json,{"string":"aaa","longString":"aaaaaasdfsdfsdolijfsdklfjsdlkfjsdlfkjsdflksdjflskdjfsdlkjfsdlkjfhsdkjfhsdkjfhdfkgjhdfkgjhdfkgjhdfgkjdfhgkdfjhgkdf"}), you'll see that you can collapse the "longString" property, and re-expand it.
I think it should behave the same in the ObjectInspector

[2018-02-20 10:44] kootoopas commented on #941
I prefer the consistent approach too. I didn't think about checking out the json viewer at all!

So, If I understand correctly:
* prepend a togglable arrow
* abbreviate the string as in the json viewer
* style the abbreviated string, if it's a standalone string, or property key, if it's an object property, like a link (pointer & underline)

[2018-02-20 21:49] gregtatum opened #943 "Consider adding better snapshots to reps"
There are nicer formatters for snapshots available, and would help the testing assertions for reps. This takes an enzyme wrapper, and renders it as a nice DOM tree string representation. I took a quick stab at adding this with #942 but got bogged down in the upgrades.

https://www.npmjs.com/package/enzyme-to-json

We would need to upgrade Jest and Enzyme in order to get this.

[2018-02-20 21:57] jasonLaster commented on #943
Thanks for starting this and sharing :)

[2018-02-21 09:36] #885 closed

[2018-02-21 13:54] nchevobbe commented on #943
I'll do this when reduxification of the objectInspector is over

[2018-02-22 08:01] nchevobbe opened #944 "Clicking on the expand arrow does nothing"
It seems that the `documentHasSelection` function is misbehaving here

[2018-02-22 08:04] nchevobbe opened #945 "Expand document in long mode throws"
**Steps to reproduce**
1. Open the Reps test app
2. Target http://firefox-dev.tools/debugger-examples/
3. Inspect `document`
4. Expand the long mode ObjectInspector

**Expected results**

The document expands

**Actual results**

It does expand, but there's an error message in the console:

[code]
---

[2018-02-22 14:00] nchevobbe opened #949 "Switch devtools-core to React 16.2"

[2018-02-22 17:12] nchevobbe opened #950 "Remove xmlns attributes from Svg images"
React strips them and log a warning message in the console.

[2018-02-23 02:42] wyatt8740 commented on #510
Just going to chip in and point out that Firebug can do this in older versions of Firefox and in Seamonkey.

[2018-02-23 03:48] jasonLaster commented on #510
This is something that has come up in the debugger as well. I might be able to get to it in 3-6 weeks.

I'd be happy to mentor somebody who is interested in doing it sooner :)
We're all on slack [here](https://devtools-html-slack.herokuapp.com/)

[2018-02-23 09:30] #950 closed

[2018-02-23 09:38] nchevobbe commented on #910
See https://bugzilla.mozilla.org/show_bug.cgi?id=1419089

[2018-02-23 14:56] Loirooriol commented on #510
How does Firebug determine the receiver? Does it always use the object that owns the getter?

[2018-02-23 18:12] Loirooriol opened #954 "Escaping inconsistences between strings and text nodes"
Run this in the console:

[code]

Result:

[code]

[2018-02-23 19:35] Loirooriol commented on #510
@wyatt8740 Yes, but a getter can be called passing an arbitrary object as the receiver (usually it's either the object that owns the getter or an object that inherits it).

For example, consider

[code]

So what happens if I log `obj2`, I inspect its `__proto__` (`obj1`) and then I click the button to evaluate the getter? Should it be called on `obj1` or `obj2`?

[code]

I guess I would do somethi

[2018-02-26 08:22] nchevobbe opened #956 "Use `onViewSourceInDebugger` prop in the Error rep"
In https://github.com/devtools-html/devtools-core/pull/942 , Greg added a nicely formatted stacktrace.
We can make it more useful by calling `onViewSourceInDebugger` when the location is clicked.

[2018-02-26 08:25] nchevobbe opened #957 "Use the sourceMap service in the Error rep"
In https://github.com/devtools-html/devtools-core/pull/942, Greg added nicely formatted frames. It would be nice if we could use the original locations when we are dealing with sourcemapped files.

[2018-02-26 08:26] nchevobbe opened #958 "Align Error rep stacktrace with the one in m-c"
For the colors, here's what we are using in the console:

function name: var(--console-output-color, currentColor)
file name: --frame-link-source
line and column numbers: --frame-link-line-color

They were carefully chosen to not clash with the different background color we can have in both light and dark mode (red, yellow, white/black), and we should use them in the Error rep as well

[2018-02-26 08:30] nchevobbe opened #959 "Use `getFunctionName` from Function rep in the Error rep stacktrace"
`getFunctionName` is an helper that get rid of cryptic `/<` symbols in the function name.
We should call it in the Error rep stacktrace to have nicer function names.

Since it takes a grip, and not a string, it should be split into 2 functions so we can handle strings.

[2018-02-26 08:41] nchevobbe opened #960 "Do not use the ObjectInspector for Error rep"
When a user log an Error object, I'm pretty sure that what they want 99% of the time is to have the error message and a meaningful and actionable stacktrace.

Thus, I think we should not render Error wrapped in an ObjectInspector unless the user deliberately asks for it.

For the custom formatters work, I was thinking we could have an "enhanced" icon. Basically it would be something that would tel

[2018-02-26 09:07] nchevobbe commented on #914
@jasonLaster do you have an STR for this ?

[2018-02-26 10:44] #945 closed

[2018-02-26 10:48] nchevobbe opened #962 "Replace wrapRender with componentDidThrow"
`wrapRender` was introduced to prevent crashing a panel when a component was throwing an exception.
In React 16 there's a new lifecycle function which does exactly this: `componentDidThrow`.
In order to use it, we have to turn `Rep` from a function to a React component so it has access to the lifecycle method.

We'll have to check that this does not harm performances in the console.

[2018-02-26 11:08] nchevobbe commented on #61
Debugger mochitests are run on debugger repo, so it looks likie we can close this issue :)

[2018-02-26 11:08] #61 closed

[2018-02-26 11:09] nchevobbe commented on #68
We do use storybook on devtools-splitter

[2018-02-26 11:09] #68 closed

[2018-02-26 11:11] nchevobbe commented on #81
done

[2018-02-26 11:11] #81 closed

[2018-02-26 11:11] nchevobbe commented on #80
done

[2018-02-26 11:11] #80 closed

[2018-02-26 11:12] nchevobbe commented on #82
we are using jest in devtools-module

[2018-02-26 11:12] #82 closed

[2018-02-26 11:13] nchevobbe commented on #96
webpack 4.0.0 just went out. Let's close this and file a new issue for the update to 4.0.0

[2018-02-26 11:13] #96 closed

[2018-02-26 11:14] nchevobbe commented on #100
I feel like this is done in the debugger.
We don't have mochitests in devtools-core at the moment, so we don't need to run TRY

[2018-02-26 11:14] #100 closed

[2018-02-26 11:17] nchevobbe commented on #293
done

[2018-02-26 11:17] #293 closed

[2018-02-26 11:19] nchevobbe commented on #252
I can't find the angular file anymore.
@ochameau do you still reproduce ?

[2018-02-26 11:22] nchevobbe commented on #406
done

[2018-02-26 11:22] #406 closed

[2018-02-26 11:23] nchevobbe commented on #452
Closing this as we have a better plan in https://github.com/devtools-html/devtools-core/projects/3

[2018-02-26 11:23] #452 closed

[2018-02-26 11:24] nchevobbe commented on #448
Closing as we have a better plan in https://github.com/devtools-html/devtools-core/projects/3

[2018-02-26 11:24] #448 closed

[2018-02-26 11:25] nchevobbe commented on #460
source-editor was pulled out of devtools-core

[2018-02-26 11:25] #460 closed

[2018-02-26 11:26] nchevobbe commented on #655
done

[2018-02-26 11:26] #655 closed

[2018-02-26 11:29] nchevobbe commented on #569
done

[2018-02-26 11:29] #569 closed

[2018-02-26 11:30] nchevobbe commented on #739
done

[2018-02-26 11:30] #739 closed

[2018-02-26 11:31] nchevobbe commented on #734
closing since the component is successfully used in the debugger

[2018-02-26 11:31] #734 closed

[2018-02-26 11:32] nchevobbe commented on #731
closing as the debugger use latest devtools-components now

[2018-02-26 11:32] #731 closed

[2018-02-26 11:32] nchevobbe commented on #733
closing since the debugger do use the latest devtools-components

[2018-02-26 11:32] #733 closed

[2018-02-26 11:32] nchevobbe commented on #728
done

[2018-02-26 11:32] #728 closed

[2018-02-26 11:34] nchevobbe commented on #687
we don't show it anymore

[2018-02-26 11:34] #687 closed

[2018-02-26 11:34] nchevobbe commented on #679
fixed

[2018-02-26 11:34] #679 closed

[2018-02-26 11:35] nchevobbe commented on #659
@jasonLaster is it still valid ?

[2018-02-26 11:36] nchevobbe commented on #769
I think this is fixed now

[2018-02-26 11:36] #769 closed

[2018-02-26 12:48] nchevobbe commented on #855
@lukaszsobek is it still valid ? IIRC the source-editor was moved to the debugger repo

[2018-02-26 14:11] jasonLaster commented on #769
yep

[2018-02-26 14:13] jasonLaster commented on #659
I'm not sure, the STR is to run the license check from the root of devtools-core

[2018-02-26 14:14] jasonLaster commented on #96
haha - yeah, but we're also on 3 now which will help

[2018-02-26 14:16] jasonLaster commented on #914
Yep,

1. pause
2. expand window
3. click on a node
4. use up/down arrows

[2018-02-26 14:18] nchevobbe commented on #914
great, thanks !

[2018-02-26 18:54] violasong commented on #960
Hi! So, it looks like what currently happens is: an error message and stack trace are shown, with disclosure arrow to expand the raw object?

![image](https://user-images.githubusercontent.com/55994/36688774-5301b8e8-1ae2-11e8-84e8-0f9ebbce946f.png)
If so, I'm confused as why this extra step of switching to raw mode is needed, since the disclosure arrow takes as much room as an "enhanced" icon wou

[2018-02-27 07:06] nchevobbe commented on #960
@violasong sorry, I think I wasn't clear enough.

Here's what have today in Reps when you log an error object (it's a bit different from what we have in the console):

[code]

Clicking on the location (`console-test-app.html:215:34`) would take you to the debugger after https://github.com/devtools-html/devtools-core/issues/956.

If you click the error message, or the arrow, since we are dealing wi

[2018-02-27 07:34] nchevobbe opened #963 "[Tree] aria-level should be depth + 1 (according to spec values should be >= 1)."
See https://bugzilla.mozilla.org/show_bug.cgi?id=1438837

[2018-02-27 15:36] nchevobbe commented on #707
Fixed for the expanded part

[2018-02-27 15:36] #707 closed

[2018-02-28 21:05] jasonLaster opened #964 "Lets upgrade to webpack 4"

[2018-03-01 14:40] nchevobbe commented on #943
doable after https://github.com/devtools-html/devtools-core/pull/966 lands

[2018-03-01 14:40] nchevobbe commented on #944
Fixed by https://github.com/devtools-html/devtools-core/pull/948

[2018-03-01 14:40] #944 closed

[2018-03-02 14:45] nchevobbe commented on #949
done

[2018-03-02 14:45] #949 closed

[2018-03-02 17:16] #943 closed

[2018-03-02 17:19] nchevobbe opened #971 "Strip browser-loader part in frames' url for the Error rep stacktrace"
When a resource is loaded by browser-loader.js, its location is defined as `resource://devtools/shared/base-loader.js -> resource://devtools/path/to/file.js`.

We should completely strip the `resource://devtools/shared/base-loader.js -> ` part, like we already do in the toolbox (e.g. https://searchfox.org/mozilla-central/rev/61d400da1c692453c2dc2c1cf37b616ce13dea5b/devtools/client/webconsole/webco

[2018-03-04 15:25] andreicristianpetcu opened #972 "Please upgrade source-map to 0.7.2 to get speed improvements"
The latest source-map which is v0.7.2 got support for WebAssembly and it is 10 times faster than the old one. More info here:

https://github.com/mozilla/source-map/blob/master/CHANGELOG.md#072
http://fitzgeraldnick.com/2018/02/26/speed-without-wizardry.html
https://hacks.mozilla.org/2018/01/oxidizing-source-maps-with-rust-and-webassembly/
https://github.com/devtools-html/debugger.html/issues/5598

[2018-03-05 17:18] #963 closed

[2018-03-06 13:06] #940 closed

[2018-03-06 14:23] nchevobbe commented on #566
this landed in #881

[2018-03-06 14:23] #566 closed

[2018-03-06 14:26] nchevobbe commented on #524
https://github.com/iodide-project/iodide was looking into Reps, but they are dealing with direct objects. This issue would make their life easier.

[2018-03-07 08:24] #971 closed

[2018-03-07 08:50] #959 closed

[2018-03-07 14:08] nchevobbe opened #984 "Add a <closure> node in the ObjectInspector"
This was done in the VariableView before (https://searchfox.org/mozilla-central/rev/9bab9dc5a9472e3c163ab279847d2249322c206e/devtools/client/shared/widgets/VariablesViewController.jsm#440-481)

[2018-03-07 14:57] nchevobbe commented on #984
@jasonLaster do you think this is useful ?
It seems to me that it can only be shown when the debugger is paused (trying to fetch the scope gave me `"cannot access the environment of this function."` from the server).

And in that case, if you want to inspect a value, it should be in the scopes panel. Is there something I'm missing here ?

[2018-03-07 15:27] jasonLaster commented on #984
hmm, it should work at any time in theory. Lets check with @jimblandy.

[2018-03-07 23:54] Loirooriol opened #986 "Replace Object.assign with spread properties"
`Object.assign({}, obj)` is used all over the place. But this calls setters!

This is harmful in case `obj` contains an own `__proto__` property.

You should use `{...obj}` ([spread properties](https://developer.mozilla.org/docs/Web/JavaScript/Reference/Operators/Object_initializer#Spread_properties)) instead. Compare:

[code]

Specifically in https://github.com/devtools-html/devtools-core/blob/b6

[2018-03-08 03:26] jasonLaster commented on #986
Great find @Loirooriol!

[2018-03-08 13:56] #986 closed

[2018-03-08 14:55] AnshulMalik opened #988 "Switch to CSS SVGs"
Referencing https://github.com/devtools-html/debugger.html/issues/4350

We would like to switch from using react-based inline SVGs to CSS-based SVGs. The primary advantage is performance. SVGs created by React are slow to render. CSS drawn SVGs have a significant perf benefit.

TODO:
- [ ] convert Object Inspector arrows
- [ ] convert "Open in inspector" icon
- [ ] convert "Jump to definition" ico

[2018-03-08 15:39] nchevobbe commented on #988
Added some cases to the TODO list. Thanks @AnshulMalik  for starting this

[2018-03-16 15:29] #988 closed

[2018-03-17 11:16] inoyakaigor commented on #510
@Loirooriol

I checked behavior in Chrome and IE/Edge dev tools for this code:

[code]
Chrome called on `obj1`. IEdge called on `obj2`.
I think IEdge way is better. This provides more opportunities for inspect

[2018-03-17 13:49] phanect opened #999 "Timeline in Network tab is too narrow and not resizable"
# Step to Reproduce

1. Show Firefox on display which is smaller than 15 inch.
2. Open Firefox DevTools (Ctrl+Shift+I)
3. Open Network tab
4. Go to any web page so water fall chart is shown.

# Actual Results

Timeline is too narrow and colored bars are not visible.
I cannot resize timeline either.

![Firefox's Timeline](https://user-images.githubusercontent.com/315601/37556157-324a738a-2a35-11e8-

[2018-03-17 15:14] Loirooriol commented on #510
@inoyakaigor Not sure what your example is supposed to test, so I will use this one:

[code]

Chrome does not invoke unsafe getters by default, but you can click `(...)` to do so. The getter appears both in the owner and inheritor and you can invoke them independently, but the inheritor is always used as the receiver.

![chrome](https://user-images.githubusercontent.com/7477678/37556829-abf57dd6-2

[2018-03-18 12:05] inoyakaigor commented on #510
@Loirooriol I think yes, it should

[2018-03-18 16:34] Loirooriol opened #1000 "Show <prototype> even if it's null"
If I have an object whose [[Prototype]] is `null` the object inspector does not show `<prototype>`. This case can be confused with objects whose prototype chain is not known, e.g. proxies. So I would make it explicit and not hide the `<prototype>` even if it's null. Also consider this case:

[code]

Someone might be confused by the `__proto__` property and think that the object inherits from `Obje

[2018-03-18 16:38] Loirooriol commented on #651
Fixed by #987 and #982. Also see #1000.

[2018-03-18 16:38] #651 closed

[2018-03-18 17:31] Loirooriol opened #1001 "Conflict between <prototype> and "<prototype>""
1. Run `inspect({"<prototype>": null})`
2. Expand `<prototype>`
3. Collapse `<prototype>`
4. Expand `<prototype>`

Result: the properties of the `<prototype>` also appear below `"<prototype>"`.

![screencast](https://user-images.githubusercontent.com/7477678/37568789-6f9097b0-2ada-11e8-9378-768cd3494f0e.gif)

[2018-03-18 17:39] Loirooriol commented on #1001
Or maybe easier:

1. Run `inspect({"<prototype>": {}})`
2. Expand either `"<prototype>"` or `<prototype>`

[2018-03-18 23:25] Loirooriol commented on #1001
https://github.com/devtools-html/devtools-core/blob/43aa5cfa37703024a6c0a5fb46a507560385004f/packages/devtools-reps/src/object-inspector/utils/node.js#L599

I think this should be a symbol, e.g. `NODE_TYPES.PROTOTYPE`.

[2018-03-19 00:29] Loirooriol opened #1002 "SAFE_PATH_PREFIX is not safe at all"
1. Run `inspect(Object.assign(Promise.resolve({}), {"##-value": []}))`
2. Expand `<value>`

Result: both `<value>` and `"##-value"` are expanded.

This happens for all pseudo-nodes except `<prototype>`, which has its own problem (#1001).

Either prefix normal properties with something different than `##-`, or use symbols instead of strings for paths. The latter probably requires more work but seem

[2018-03-19 00:35] Loirooriol opened #1003 "Slashes are not escaped in paths"
1. Run `inspect({a: {b: {}}, "a/b": []})`
2. Expand `a`
3. Expand `b` (inside `a`)

Result: `a/b` is also expanded.

Either escape slashes in paths, or consider using symbols instead of strings to avoid collisions.

[2018-03-19 02:49] jasonLaster commented on #1002
Yes, we discussed symbols early on and decided that the `##-` prefix was worth the risk for the time being. We should address this hack at some point.

[2018-03-19 07:09] nchevobbe commented on #1002
I agree of the issue, even if it's unlikely to happen.
We can't use just symbol for path, since each path is built upon the previous one.
But we could make the path an array which would be something like
[code]
and use Sets and Maps in the state when we want to refer to them.
I think it shouldn't be too hard to do

[2018-03-19 07:21] nchevobbe commented on #1000
Yes, this could be interesting, thanks for filing

[2018-03-19 10:35] janodvarko commented on #999
Thanks for the report!

Yes, this is known issue tracked by this bugzilla bug:
https://bugzilla.mozilla.org/show_bug.cgi?id=1358414

Honza

[2018-03-19 11:10] phanect commented on #999
Oh I wasn't noticed for the issue. Sorry! :bowing_man:

[2018-03-19 11:10] #999 closed

[2018-03-22 09:12] nchevobbe commented on #960
For what it's worth, both Chrome and Safari does not let you inspect the error object and print similar things than when throwing an exception.
I think we can move on and render Errors as Reps and not ObjectInspector, without the "✨" button proposal (which we can revisit later)

[2018-03-22 20:40] violasong commented on #960
Hi Nicolas, sorry I stopped responding to this! I think you explained it well - I was just having a hard time wrapping my mind around the concepts, so the notification email languished in my inbox for a while 😅

Your idea to render as Reps for now sounds good, since it sounds like people rarely need the raw object info. In the future, we can use a contextual menu + meatball menu (•••)  for this an

[2018-03-23 08:55] nchevobbe commented on #956
Fixed in https://github.com/devtools-html/devtools-core/pull/1006

[2018-03-23 08:55] #956 closed

[2018-03-23 08:56] nchevobbe commented on #936
Investigation done. Not much place for doing this, Reps are already using as few element as they can

[2018-03-23 08:56] #936 closed

[2018-03-23 09:03] nchevobbe commented on #804
done in https://github.com/devtools-html/devtools-core/pull/982

[2018-03-23 09:03] #804 closed

[2018-03-23 09:04] #492 closed

[2018-03-23 15:48] kootoopas opened #1009 "Nested error representation is weird"
Renders as invalid object if not expanded:
![screen shot 2018-03-22 at 17 18 32](https://user-images.githubusercontent.com/601001/37839018-16319282-2ec2-11e8-9650-6593d7e6282c.png)

When expanded it renders normally I guess:
![screen shot 2018-03-22 at 17 08 05](https://user-images.githubusercontent.com/601001/37839053-33d797b4-2ec2-11e8-9362-c72f6a3d3d5b.png)

The error has to do with a wrong imp

[2018-03-23 15:52] nchevobbe commented on #1009
oh, so there's an error thrown in the Error rep (which is why we show "invalid object".
Can you open the browser console , there should be an error message about this.

Also, I suspect the stack being an issue, could you paste it here please so we can check ?
Thanks !

[2018-03-23 16:02] kootoopas commented on #1009
Sure thing, it happens on up-to-date nightly.

ERROR's stack:
[code]

ERROR's error object (has stack property):
[code]

[2018-03-23 16:16] nchevobbe commented on #1009
mhh, can't reproduce with what you pasted. Could you do pause where the log is done and do `copy(error.stack)` in the console (that will copy the stack to the clipboard), and paste it here ?

[2018-03-23 20:29] Loirooriol commented on #807
I think

[code]

should be displayed with a `▶` arrow

[code]

and expanding it would produce

[code]

[2018-03-26 07:53] nchevobbe commented on #1009
@kootoopas any update on this ? It's looking really bad and I'd like to fix it as soon as possible :)

[2018-03-26 08:08] kootoopas commented on #1009
@nchevobbe I couldn't reproduce from home (it only occurred on my machine at work), sorry for disappearing. 😅

I'll get to it within the following hours!

[2018-03-26 11:47] kootoopas commented on #1009
@nchevobbe I accidentally reproduced this buggy error format again today and copied its complete stack.
error obj:
![screen shot 2018-03-26 at 14 45 50](https://user-images.githubusercontent.com/601001/37904431-6c55ba82-3104-11e8-9f2a-58cce8761380.png)

complete `error.stack`:
[code]

[2018-03-26 12:15] nchevobbe commented on #1009
Thanks a lot @kootoopas , that really help !
I have an idea what's causing the issue and I'm working on a fix to get it out of the door shortly.

[2018-03-26 15:46] #1009 closed

[2018-03-26 16:07] kootoopas commented on #1009
@nchevobbe  hahaa :D it's always fun to help this project out!

[2018-03-26 16:48] nchevobbe opened #1012 "Better handle Errors with longString stacktraces"
At the moment, we get the initial property of the longString and remove the last computed frame. We should do a better job at having the whole stacktrace rendered.

This might be handled server-side in [Bug 1448833](https://bugzilla.mozilla.org/show_bug.cgi?id=1448833)

[2018-03-27 08:28] #960 closed

[2018-03-29 08:13] julienw opened #1016 "Maps and Sets `<entries>` node should be automatically expanded"
STR:
1. run this in the console:
[code]
=> We see some data but not all. But in other contexts, like in the debugger's scopes panel, we don't see the data.
2. Expands the map.
=> We still don't see the data. What we see is some useless information: size (ok, we know it already, it's written on the first line), prototype (useless in this case), and "entries" that is expandable.
3. Expands entries
=

[2018-03-29 08:21] nchevobbe commented on #1016
I disagree that we should show Maps and Sets as Arrays and Objects, it's important that these each printed object is clear about what it is.
The real issue is the extra step you mention to display the Map/Set entries. What could be done (and what Chrome does), is auto expand the `▶︎ <entries>` node, so you only click once to get your entries.
We should make sure to handle this right when we have a

[2018-03-29 08:37] julienw commented on #1016
I think the first line is perfect as it is, and should stay the same -- so totally not like Arrays and Objects. But that when _expanded_ the expansion itself should be like arrays and objects.

It's not what a user wants to see when expanding the data. If I want to see the prototype, I type "map.prototype" and then I can see it if I want to. But usually that's not what's useful for these types of

[2018-03-29 12:20] nchevobbe commented on #1016
The map could be augmented with properties which we do want to show so the user can really see what the object is like, e.g. :
[code]

This is truly important as this kind of thing can lead to the hairiest issues.

I'm unsure about this, or if this is true, it is for every type of objects :)
I think the prototype node is still useful so you can navigate into and see what method you can call. In th

[2018-03-29 14:52] julienw commented on #1016
It could but this isn't the general case. Can we optimize for the general case?
Is there an easy way to know whether the map has been "augmented" ?

[2018-03-29 14:54] nchevobbe commented on #1016
I don't know, but I guess more work than simply autoexpand the `<entries>` node :)

[2018-03-29 15:16] nchevobbe opened #1017 "Can't interact with reps' "expand" icon if some text is selected"
__From [Bug 1449865](https://bugzilla.mozilla.org/show_bug.cgi?id=1449865)__

STR:
1. Run this code in the console:

[code]

2. select a word in the console, eg the "map" in the code above
3. try to expand the reps using the "arrow" icon

=> It's not possible.
We first need to unselect by simply clicking elsewhere.
Note that expanding clicking on "Map" seems to work.

[2018-03-29 15:20] nchevobbe commented on #1017
The issue lies in https://github.com/devtools-html/devtools-core/blob/b6819f649da535d42005ee06403bd44efe38633a/packages/devtools-reps/src/object-inspector/component.js#L364

Here we check that there's no selection to expand the node, to prevent expanding when the user simply select a word.
But when some text is selected and the arrow is clicked, the text isn't unselected, and the if statement eval

[2018-03-30 13:53] Loirooriol opened #1020 "Add back href attributes in links"
Previously, when viewing a JSON document, I could right-click linked resources like videos and images and just choose "Save Link As...".

In #989 you removed `href` from links. This is not semantic and breaks my workflow, because now the context menu is useless.

[2018-03-31 22:08] Loirooriol commented on #1016
I strongly oppose this. If you display a map as an object, i.e.

[code]
[code]

then people will think that they can use `map.foo` and they will obtain `"bar"`. But nope, they need to use `map.get("foo")` instead.

Maps are just ordinary objects with a `[[MapData]]` internal slot. Then, as @nchevobbe says, they can have normal properties just like any object. These should be displayed differently

[2018-04-03 13:09] julienw commented on #1016
Thanks, I'm convinced now.

[2018-04-03 14:54] #1001 closed

[2018-04-03 15:00] nchevobbe commented on #1016
I changed the title of the issue to automatically expand the `<entries>` node for Maps and Sets, which should help browsing them.

[2018-04-03 15:01] nchevobbe commented on #1002
`SAFE_PATH_PREFIX` does not exist anymore (removed in https://github.com/devtools-html/devtools-core/pull/1013)

[2018-04-03 15:01] #1002 closed

[2018-04-03 15:01] nchevobbe commented on #1003
Node paths were refactored to use Symbols in https://github.com/devtools-html/devtools-core/pull/1013 , so we don't have path clashes anymore

[2018-04-03 15:01] #1003 closed

[2018-04-05 21:46] mckernanin opened #1023 "Network Tab "copy as curl" not including www-form-urlencoded params"
Hey there, recently noticed that when trying to copy a network request that is www-form-urlencoded, the command doesn't include params. Example:

From Firefox (Dev Edition, 60.0.0 b10):
[code]

From Chrome 65.0.3325.162:
[code]

[2018-04-06 07:16] janodvarko commented on #1023
@mckernanin Hi, can you please file a bug in Bugzilla:
https://bugzilla.mozilla.org/enter_bug.cgi?product=Firefox&component=Developer%20Tools%3A%20Netmonitor

There are already some related "copy as curl" bugs and it's better if I can track it at one place. Thanks!

You can also put link to that bug report here.

Honza

[2018-04-06 16:14] juliandescottes opened #1025 "Remove all references to .theme-firebug"
Synchronize with the changes from https://bugzilla.mozilla.org/show_bug.cgi?id=1378108

https://github.com/devtools-html/devtools-core/search?utf8=%E2%9C%93&q=.theme-firebug&type=

[2018-04-10 11:26] julienw commented on #1017
I'd like to understand why this happens. Do you know more? Because maybe that's actually our root issue here...

On a side note, I tried removing that code here:
https://github.com/devtools-html/devtools-core/blob/ff27d20fb51df0444d4405fe673d0714ab4da5b9/packages/devtools-reps/src/object-inspector/utils/selection.js#L18-L28

This didn't fix this error (I thought it would :) ) but I couldn't see an

[2018-04-10 12:02] nchevobbe commented on #1017
That's a standard behavior. If you go to `data:text/html,<meta charset=utf8><p>Select me<button>Click me</button></p><img src="https://blog.mozilla.org/opendesign/files/2017/01/Mozilla-12jan-1500px_logo.jpg">`, select the text and then click on the button and/or on the image, the text is still selected.

[2018-04-10 12:07] nchevobbe commented on #1017
Good catch. The arrow element isn't an svg element anymore so this might be unnecessary

[2018-04-10 14:15] #1025 closed

[2018-04-11 07:35] #1017 closed

[2018-04-11 14:24] #1023 closed

[2018-04-12 20:52] MikeRatcliffe opened #1032 "[reps] local and session storage missing keys"
Same issue with sessionStorage.

STR:

[code]

Look at it in the web console and you will see that only "key2" is displayed.

This is because Object.keys(localStorage) and Object.getOwnPropertyNames(localStorage) both return ["key2"] (not sure which we use in reps).

Why is "key" missing? Because there is a key method on the prototype and we don't want to overwrite it (you can access key2 using `l

[2018-04-13 05:42] nchevobbe commented on #1032
Here is the packet we get for this evaluation result:
[code]

The `key` property is missing (this is probably because `Storage#key`)

[2018-04-13 12:36] MikeRatcliffe commented on #1032
@nchevobbe: I have already spoken with the platform g(irl|uy)s and they say it is not a bug.

[2018-04-16 06:29] nchevobbe commented on #540
Fixed in https://github.com/devtools-html/devtools-core/pull/1030

[2018-04-16 06:29] #540 closed

[2018-04-17 11:57] #923 closed

[2018-04-20 09:38] juliandescottes opened #1055 "Guard against null worker in packages/devtools-utils/src/worker-utils.js"
https://github.com/devtools-html/devtools-core/blob/7ae967805b3cf65d8e6590e72aa41c815b7f08ce/packages/devtools-utils/src/worker-utils.js#L58

It looks like `this.workers is null or undefined` pops up from time to time on mozilla-central's continuous integration (eg https://bugzilla.mozilla.org/show_bug.cgi?id=1454674)

We should move the check `if (!this.workers)` located a few lines below before

[2018-04-23 07:39] nchevobbe opened #1057 "Remove lambda chars in front of the frame function name"
It was added recently but some feedback suggest that it isn't clear for the user what it is about.
Let's remove it before we ship 61. We can then find a better iconography for this.
We may directly change the reps.css file in [Bug 1456061](https://bugzilla.mozilla.org/show_bug.cgi?id=1456061), so we should propagate back it here.

[2018-04-23 21:15] konradpapala commented on #873
I'm just a regular user, sorry for jumping in with my comment here, but this particular feature is something I really miss in FX and so here I am :)

@Loirooriol

I think you point out some edge cases, while in 99.99998% of situations, this would simply be a useful and nice feature.

You mention some dangerous(?) situations, like "The console must not call unsafe getters (...) What if the construc

[2018-04-23 21:49] Loirooriol commented on #873
Yes, though that would mean the result would be less consistent.

But my other complaint still stands: if I have an array-like object which is not an array but inherits from `Array.prototype`, I still want to know that it's not a real array (and thus e.g. decreasing `length` won't remove properties).

Or if I have an instance of `class Foo extends Map{}`, I still want to see that the result is a m

[2018-04-26 10:25] #914 closed

[2018-04-26 10:26] nchevobbe commented on #710
let's close this

[2018-04-26 10:26] #710 closed

[2018-04-26 11:52] nchevobbe commented on #1032
fixed in https://github.com/devtools-html/devtools-core/pull/1046

[2018-04-26 11:52] #1032 closed

[2018-04-26 11:54] #984 closed

[2018-04-26 11:54] nchevobbe commented on #984
Not a priority right now. Let's reconsider it later

[2018-04-26 11:55] nchevobbe commented on #941
Fixed by https://github.com/devtools-html/devtools-core/pull/1015

[2018-04-26 11:55] #941 closed

[2018-04-26 11:56] nchevobbe commented on #846
@lukaszsobek is this still happening ?

[2018-04-26 12:03] #760 closed

[2018-04-26 12:03] nchevobbe commented on #760
openLink is provided by the console, so I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1457109 to deal with this

[2018-04-26 12:05] #761 closed

[2018-04-26 12:05] nchevobbe commented on #761
The context menu entry is handled by the console, so I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1457111 to fix this issue

[2018-04-26 12:07] nchevobbe commented on #524
Closing as it is not a priority for the devtools team, and reps can be forked for those who need it.

[2018-04-26 12:07] #524 closed

[2018-04-26 12:12] #833 closed

[2018-04-26 12:13] nchevobbe commented on #833
done

[2018-04-26 12:17] nchevobbe commented on #398
Let's close this for now and split this into multiple tasks in the debugger-html repo

[2018-04-26 12:17] #398 closed

[2018-04-26 12:19] nchevobbe commented on #802
Let's close this and re-open it when the bugzilla bug is fixed

[2018-04-26 12:24] #715 closed

[2018-04-26 12:24] nchevobbe commented on #715
no activity for a while and defer will be replaced, let's close this

[2018-04-26 12:25] nchevobbe commented on #713
task.js was removed by Alex in m-c. I guess we can close this or repurpose it to remove task.js here

[2018-04-26 12:25] #713 closed

[2018-04-26 12:27] #688 closed

[2018-04-26 12:27] nchevobbe commented on #688
looks fixed in Nightly :)

[2018-04-26 12:31] jasonLaster commented on #741
yep

[2018-04-26 12:35] #394 closed

[2018-04-26 12:35] nchevobbe commented on #394
let's close it and re-evaluate when the server work happens

[2018-04-26 12:36] #475 closed

[2018-04-26 12:36] nchevobbe commented on #475
it's not clear how we can move this forward, and there haven't be too many complaints about modes (or were addressed, e.g. for arrays)
So let's close this

[2018-04-26 12:38] #404 closed

[2018-04-26 12:39] nchevobbe commented on #399
let's close this and re-evaluate when the server work happens

[2018-04-26 12:39] #399 closed

[2018-04-26 12:40] #393 closed

[2018-04-26 12:40] nchevobbe commented on #393
let's close this as I don't think it would be the reps responsability, but rather a component on top of it that uses reps for "cells"

[2018-04-26 12:44] #741 closed

[2018-04-26 12:49] nchevobbe commented on #1057
This issue was moved to devtools-html/debugger.html#6106

[2018-04-26 12:49] #1057 closed

[2018-04-26 12:50] nchevobbe commented on #1016
This issue was moved to devtools-html/debugger.html#6107

[2018-04-26 12:50] #1016 closed

[2018-04-26 13:15] nchevobbe commented on #1020
This issue was moved to devtools-html/debugger.html#6108

[2018-04-26 13:15] #1020 closed

[2018-04-26 13:16] nchevobbe commented on #1012
This issue was moved to devtools-html/debugger.html#6109

[2018-04-26 13:16] #1012 closed

[2018-04-26 13:16] nchevobbe commented on #1000
This issue was moved to devtools-html/debugger.html#6110

[2018-04-26 13:16] #1000 closed

[2018-04-26 13:17] nchevobbe commented on #962
This issue was moved to devtools-html/debugger.html#6111

[2018-04-26 13:17] #962 closed

[2018-04-26 13:49] nchevobbe commented on #962
This issue was moved to devtools-html/debugger.html#6113

[2018-04-26 13:50] nchevobbe commented on #957
This issue was moved to devtools-html/debugger.html#6114

[2018-04-26 13:50] #957 closed

[2018-04-26 13:52] nchevobbe commented on #954
This issue was moved to devtools-html/debugger.html#6115

[2018-04-26 13:52] #954 closed

[2018-04-26 13:52] nchevobbe commented on #910
This issue was moved to devtools-html/debugger.html#6116

[2018-04-26 13:52] #910 closed

[2018-04-26 13:52] nchevobbe commented on #873
This issue was moved to devtools-html/debugger.html#6117

[2018-04-26 13:52] #873 closed

[2018-04-26 13:52] nchevobbe commented on #844
This issue was moved to devtools-html/debugger.html#6118

[2018-04-26 13:52] #844 closed

[2018-04-26 13:53] nchevobbe commented on #843
This issue was moved to devtools-html/debugger.html#6119

[2018-04-26 13:53] #843 closed

[2018-04-26 13:53] nchevobbe commented on #841
This issue was moved to devtools-html/debugger.html#6120

[2018-04-26 13:53] #841 closed

[2018-04-26 13:53] nchevobbe commented on #835
This issue was moved to devtools-html/debugger.html#6121

[2018-04-26 13:53] #835 closed

[2018-04-26 13:53] nchevobbe commented on #834
This issue was moved to devtools-html/debugger.html#6122

[2018-04-26 13:54] #834 closed

[2018-04-26 13:54] nchevobbe commented on #808
This issue was moved to devtools-html/debugger.html#6123

[2018-04-26 13:54] #808 closed

[2018-04-26 13:54] nchevobbe commented on #807
This issue was moved to devtools-html/debugger.html#6124

[2018-04-26 13:54] #807 closed

[2018-04-26 13:54] nchevobbe commented on #806
This issue was moved to devtools-html/debugger.html#6125

[2018-04-26 13:54] #806 closed

[2018-04-26 13:55] nchevobbe commented on #805
This issue was moved to devtools-html/debugger.html#6126

[2018-04-26 13:55] #805 closed

[2018-04-26 13:55] nchevobbe commented on #803
This issue was moved to devtools-html/debugger.html#6127

[2018-04-26 13:55] #803 closed

[2018-04-26 13:55] nchevobbe commented on #743
This issue was moved to devtools-html/debugger.html#6128

[2018-04-26 13:55] #743 closed

[2018-04-26 13:55] nchevobbe commented on #708
This issue was moved to devtools-html/debugger.html#6129

[2018-04-26 13:55] #708 closed

[2018-04-26 13:55] nchevobbe commented on #686
This issue was moved to devtools-html/debugger.html#6130

[2018-04-26 13:55] #686 closed

[2018-04-26 13:56] nchevobbe commented on #685
This issue was moved to devtools-html/debugger.html#6131

[2018-04-26 13:56] #685 closed

[2018-04-26 13:56] nchevobbe commented on #683
This issue was moved to devtools-html/debugger.html#6132

[2018-04-26 13:56] #683 closed

[2018-04-26 13:56] nchevobbe commented on #608
This issue was moved to devtools-html/debugger.html#6133

[2018-04-26 13:56] #608 closed

[2018-04-26 13:56] nchevobbe commented on #602
This issue was moved to devtools-html/debugger.html#6134

[2018-04-26 13:56] #602 closed

[2018-04-26 13:57] nchevobbe commented on #598
This issue was moved to devtools-html/debugger.html#6135

[2018-04-26 13:57] #598 closed

[2018-04-26 13:57] nchevobbe commented on #552
This issue was moved to devtools-html/debugger.html#6136

[2018-04-26 13:57] #552 closed

[2018-04-26 13:57] nchevobbe commented on #548
This issue was moved to devtools-html/debugger.html#6137

[2018-04-26 13:57] nchevobbe commented on #533
This issue was moved to devtools-html/debugger.html#6138

[2018-04-26 13:57] #533 closed

[2018-04-26 13:57] nchevobbe commented on #518
This issue was moved to devtools-html/debugger.html#6139

[2018-04-26 13:57] #518 closed

[2018-04-26 13:58] nchevobbe commented on #510
This issue was moved to devtools-html/debugger.html#6140

[2018-04-26 13:58] #510 closed

[2018-04-26 13:58] nchevobbe commented on #507
This issue was moved to devtools-html/debugger.html#6141

[2018-04-26 13:58] #507 closed

[2018-04-26 13:58] nchevobbe commented on #506
This issue was moved to devtools-html/debugger.html#6142

[2018-04-26 13:58] #506 closed

[2018-04-26 13:58] #504 closed

[2018-04-26 13:58] nchevobbe commented on #500
This issue was moved to devtools-html/debugger.html#6144

[2018-04-26 13:58] #500 closed

[2018-04-26 13:59] nchevobbe commented on #497
This issue was moved to devtools-html/debugger.html#6145

[2018-04-26 13:59] nchevobbe commented on #490
This issue was moved to devtools-html/debugger.html#6146

[2018-04-26 13:59] #490 closed

[2018-04-26 13:59] nchevobbe commented on #467
This issue was moved to devtools-html/debugger.html#6147

[2018-04-26 13:59] #467 closed

[2018-04-26 13:59] nchevobbe commented on #449
This issue was moved to devtools-html/debugger.html#6148

[2018-04-26 13:59] #449 closed

[2018-04-26 13:59] nchevobbe commented on #446
This issue was moved to devtools-html/debugger.html#6149

[2018-04-26 14:00] #446 closed

[2018-04-26 14:00] nchevobbe commented on #411
This issue was moved to devtools-html/debugger.html#6150

[2018-04-26 14:00] #411 closed

[2018-04-26 14:00] nchevobbe commented on #403
This issue was moved to devtools-html/debugger.html#6151

[2018-04-26 14:00] #403 closed

[2018-04-26 14:00] nchevobbe commented on #401
This issue was moved to devtools-html/debugger.html#6152

[2018-04-26 14:00] #401 closed

[2018-04-26 14:00] nchevobbe commented on #400
This issue was moved to devtools-html/debugger.html#6153

[2018-04-26 14:00] #400 closed

[2018-04-26 14:00] nchevobbe commented on #396
This issue was moved to devtools-html/debugger.html#6154

[2018-04-26 14:00] #396 closed

[2018-04-26 14:01] nchevobbe commented on #395
This issue was moved to devtools-html/debugger.html#6155

[2018-04-26 14:01] #395 closed

[2018-04-26 14:01] nchevobbe commented on #392
This issue was moved to devtools-html/debugger.html#6156

[2018-04-26 14:01] #392 closed

[2018-04-26 16:59] david95thinkcode commented on #873
Thanks for that

[2018-05-01 07:39] #1055 closed

[2018-07-18 10:15] movedoa opened #1077 "Dynamically loaded js file not visible in debugger"
Hello i load most of my js files dynamically with jquery ($.getScript)
This works but i don't see any of these js files in the debugger.
I program in typescript and transpile to js with inline sourceMapping so "//# sourceMappingURL=%Data%" is present in every js file

In chrome the js files (with the sourcemaps) show up without a problem.

[2018-07-18 10:31] #1077 closed

[2018-07-25 19:40] connorholyday commented on #604
It looks like this has been worked on, is there anything further that needs doing?

<img width="1419" alt="image" src="https://user-images.githubusercontent.com/4559119/43223164-1cdc7414-904a-11e8-8008-c3586e875579.png">

[2018-07-25 21:31] #604 closed

[2018-08-18 01:15] yurydelendik opened #1080 "startDevServer's "/get" end point shall not change binary content"
It is possible, in the future, the source maps can be binary. For this reason the relay:
  - shall not modify the content: use Buffer operations vs string +=
  - pass proper/original content type, instead of default

[2018-08-24 17:09] marianoguerra opened #1083 "FF Nightly console: Empty object literal evaluates to undefined, object with quoted key gives syntax error"
I'm writing an introduction to js using Firefox devtools and the basic examples force me to explain more than I should.

I'm trying to introduce the JSON subset first, so no undefined and all object keys quoted, the problem is that an empty object literal evaluates to undefined, I assume it thinks it's an empty scope (Chrome evaluates to an empty object).

Also, I can't enter object literals with

[2018-08-27 06:15] juliandescottes commented on #1083
Thanks! This would probably be better in bugzilla (https://bugzilla.mozilla.org/enter_bug.cgi?product=DevTools), but we might already have a bug on file for this.

`{}` and `{"key": 42}` are blocks of code and not objects (not sure if that's what you meant by scope). You can wrap them in parenthesis to get the expected behavior.

A few years ago Chrome changed the behavior of their console to star

[2018-08-27 06:28] nchevobbe commented on #1083
Yes, we do have [Bug 972530](https://bugzilla.mozilla.org/show_bug.cgi?id=972530) for this, where there is already some discussion .

`x = {key: 42}` should return the object as well.

[2018-09-14 16:17] brunoscopelliti opened #1091 "[Launchpad] Can't start local server because of an error"
I wanted to start the ["Debug the debugger" activity](https://firefox-dev.tools/debugger.html/docs/debugging-the-debugger.html), but I had some problems getting the local server up.
I'm using node 10.2.1; I've installed it through nvm-windows.

This is a screenshot of the error.

![error](https://user-images.githubusercontent.com/3489757/45561794-e097c900-b848-11e8-99b5-86b659dc087d.PNG)

I've deb

[2018-09-14 16:18] brunoscopelliti commented on #1091
/claim

[2018-09-22 17:14] darkwing opened #1095 "TypeError: appRoot is null"
When changing the theme between light and dark, then dark to light, after the 2nd or 3rd change the following error is shown:

[code]

...and the theme will no longer change.

[2018-10-11 19:28] kenjiO opened #1099 "[Launchpad] launching firefox from the dev server causes it to crash"
STR:

1. quit any debugee firefox open browsers
2. run yarn start in debugger.html
3. go to localhost:8000 and click 'Launch Firefox'

Within a few minutes the dev server crashes with this error
[code]

[2018-10-22 13:33] kuba-orlik opened #1103 "In Responsive Design Mode, Page Style applies to the browser UI, not to the website"
I was viewing a website in Responsive Design Mode (via devtools). I wanted to test how the site would look like without any styles attached, so I picked "View -> Page Styles -> No style". But the removal of styles was applied to the browser UI, not to the website itself:

![image](https://user-images.githubusercontent.com/2697916/47295393-de771600-d60f-11e8-89a8-725b08ffe84b.png)

[2018-10-29 14:13] #1099 closed

[2018-10-31 19:11] #1103 closed

[2018-11-06 05:57] pd4d10 opened #1106 "[proposal] extract Firefox's builtin JSON viewer as jsonview.html"
Firefox's JSON viewer is great. I port it to Chrome and Opera through some tricky replacements using webpack: https://github.com/pd4d10/json-viewer

Willing to help maintain `jsonview.html` if you have the plan, just like `debugger.html` and `perf.html`

[2018-11-11 21:04] DaniellMesquita opened #1110 "Can't change an value, or text that isn't HTML"

[2018-11-12 08:00] nchevobbe commented on #1110
Hello @DaniellMesquita , this lacks a bit of context to be actionable :)
Where do you want to change a value ?

[2018-12-14 19:01] artemruts commented on #1095
@darkwing I'd like to work on this.
Is it issue claimable?

[2018-12-16 21:56] artemruts commented on #1095
/claim

[2018-12-28 07:01] AnshulMalik opened #1118 "Remove webSocketConnection option"
We no longer need firefox proxy since we can just use sockets now. So we can get rid of `webSocketConnection` and the code related to this option.

It is currently used at these places: https://github.com/devtools-html/devtools-core/search?utf8=%E2%9C%93&q=webSocketConnection&type=

[2018-12-28 07:09] #1080 closed

[2018-12-28 20:02] AnshulMalik commented on #972
`devtools-source-maps` is moved here https://github.com/devtools-html/debugger.html/tree/master/packages/devtools-source-map and the version is upgraded as well.

[2018-12-28 20:02] #972 closed

[2018-12-28 20:13] #909 closed

[2018-12-30 16:31] AnshulMalik commented on #72
Do we still want this?

[2018-12-30 16:35] AnshulMalik commented on #71
This is fixed now.

[2018-12-30 16:35] #71 closed

[2018-12-30 16:38] #749 closed

[2018-12-30 16:40] #1095 closed

[2018-12-30 16:41] #1091 closed

[2018-12-30 16:47] AnshulMalik commented on #205
I think it's now handled by selenium?

[2018-12-30 20:40] chrlsstcky commented on #1118
I'm interested in working on this. My understanding: webSocketConnection evaluates to true, should I alter the code with the assumption that websockets will always be used?

[2018-12-31 20:07] chrlsstcky commented on #1118
/claim

[2019-01-23 16:49] wartmanm opened #1123 "Absolute file URLs are not handled correctly on Windows"
development-server.js strips off the leading "file://", which leaves a path like "/C:/path/to/file" that Windows doesn't understand:
![image](https://user-images.githubusercontent.com/3869625/51622487-4fbeb180-1efc-11e9-9a1c-6b231c5b174d.png)
I think this could be fixed trivially by replacing `url.replace("file://", "")` with the built-in [`url.fileURLToPath`](https://nodejs.org/api/url.html#url_u

[2019-02-13 12:37] th7nder opened #1130 "Root project does not have a license field"
package.json of devtools-core root folder does not have a license field.
[code]

[2019-02-14 12:25] fvsch opened #1131 "[Launchpad] Search filter input regularly steals focus"
Steps to reproduce:

1. Start Launchpad
2. Launch Firefox, and open a few tabs
3. Switch back to Launchpad. Keyboard focus will probably be in the "Filter tabs" input
4. Hit the Tab key to put the focus on any item in the tab list
5. After a few seconds, focus goes back to the "Filter tabs" input

It looks like we are regularly re-rendering the whole content, with the header+input too, and the ren

[2019-02-14 17:34] th7nder opened #1133 "[LaunchPad] Detecting running firefox depends on OS and connectionPort"
When you launch browser manually, not via "Launch Firefox" button - launchpad does not detect it.
It is because of a way of searching running processes. It strongly depends on arguments passed to the firefox-bin. So when you switch to a different connection port, OS or tcp/websocket it doesn't work.

https://github.com/firefox-devtools/devtools-core/blob/master/packages/devtools-launchpad/src/serv

[2019-02-15 17:56] fvsch opened #1135 "[Launchpad] Favicon is not showing up"
There's some code and config for showing a favicon in the Launchpad page, but in practice it doesn't seem to work.

When running devtools-launchpad with `yarn start`, I'm getting this HTML:

[code]

But that image seems to be accessible at `/pad-assets/launchpad-favicon.png` instead.

When running debugger.html with `yarn start`, I'm getting this HTML:

[code]

But that image seems to be accessibl

[2019-03-12 09:31] movedoa opened #1139 "Custom properties - variable was not set on mouseover"
![grafik](https://user-images.githubusercontent.com/13309951/54189267-b8b0b780-44b1-11e9-9c93-96f693a11822.png)

I define some css custom properties at runtime with document.documentElement.style.setProperty.
Everything works but devtools alway say "x was not set".

I am using the latest Firefox DevEdition (66.0b14 (64-Bit))

[2019-03-12 10:26] nchevobbe commented on #1139
Hello @movedoa , thanks for reporting this issue. This repo is only meant for some specific devtools components, so I created an issue on Bugzilla: https://bugzilla.mozilla.org/show_bug.cgi?id=1534567 (you should be able to log in with your github account and CC you on the bug)

[2019-03-12 10:26] #1139 closed

[2019-03-12 10:27] movedoa commented on #1139
Thx for the info and the bug entry. Sorry for the noise.

[2019-03-28 20:05] Mozilla-GitHub-Standards opened #1143 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-04-06 04:05] tradewatcher opened #1145 "[Feature Request] Improve Usability and Customization with Keybindings in about:addons"
It's possible to install Firefox Developer Edition and copy "Firefox Developer" to the "Release Channel" Version.
This means "Firefox Developer Tools" is a normal and hidden XUL Addon/WebExtension.

Why don't you provide this Addon on AMO and add an entry in about:addons. This would provide the option to change this huge amount of (useless) keybindings.
It will also make it easier to fix https://b

[2019-04-06 09:23] juliandescottes commented on #1145
This is not the case. We tried to make DevTools into an extension in 2017, but we couldn't. The bug for reducing keyboard shortcuts for DevTools is https://bugzilla.mozilla.org/show_bug.cgi?id=1439740

[2019-04-06 22:13] tradewatcher commented on #1145
I really think that reducing keyboard shortcuts is the worst way to go. Yes nobody need 2 shortcuts for 1 action....

You don't remove a steering wheel cause you don't have enough space or?
You move the seat backwards to get enough space...

Go and fix one of the most wanted features since ~19 years and all this troubles are gone nobody need a WebExtension. The option to enable/disable in about:co

[2019-05-24 10:31] unsign3d commented on #964
hi, can I take this issue?

[2019-05-27 20:33] jasonLaster commented on #964
Yes please

On Fri, May 24, 2019, 6:31 AM Luca Bruzzone <notifications@github.com>
wrote:

[2019-05-28 07:58] unsign3d commented on #964
I opened a PR for that, everything seems to be working, can you take a look at that?

[2019-06-04 18:41] GhalamborM opened #1159 "add pretty print html file"

[2019-07-13 12:35] rohanprasad commented on #964
Hey guys, is this done or can contribute to this?

[2019-07-15 08:17] Der-Alex opened #1161 "Inline source map not working in Firefox Quantum 68.0"
I am using Firefox Quantum 68.0 (64-Bit) on Ubuntu 18.04.
I generate an inline source-map css file with the tool leafo/scssphp. The core files are .scss files.

In Chrome the source-map gets recognized and the inspector tab in the dev-tools points to the correct .scss file and line.

**Current behaviour in Firefox:**

In Firefox the source-map does not seem to get recognized. The inspector tab in

[2019-07-15 09:00] Der-Alex commented on #1161
I inspected that issue a bit further. It seems to be an issue with the tool leafo/scssphp.
It generates a source map like:
    `{"version":3,"sourceRoot":"\/","sources":["(stdin)","_fileName.scss ...... }`
Firefox assumes that (stdin) is a file and therefore maybe gets confused with that map...
I am closing that issue now because I think the problem is the generated source map.

Sorry for disturbi

[2019-07-15 09:00] #1161 closed

[2019-07-17 14:22] prvak opened #1162 "Error objects renders as "Invalid object""
I have an Error object (thrown by axios library) that fails to render.

![Screenshot from 2019-07-17 15-32-24](https://user-images.githubusercontent.com/2436340/61379629-304f8280-a8a8-11e9-8d8a-f25f32a720b9.png)

This is in Firefox 67.0.4 (64-bit) on Linux.

Similar to: https://github.com/firefox-devtools/devtools-core/issues/1009 but callstack in my case is much shorter.

Edit:
Problem seems to b

[2019-07-17 16:01] nchevobbe commented on #1162
Hey, thanks for the report !
I reproduced in 67, and it seems to be fixed in 68 (and also in Nightly, 70).
68 is now in release, could you try to update and tell us if everything is okay?

[2019-07-17 16:14] prvak commented on #1162
Updated to 68 and it renders correctly now. Thank you!

[2019-07-17 16:15] #1162 closed

[2019-07-17 21:09] jasonLaster commented on #964
Feel free to help!

On Sat, Jul 13, 2019, 5:35 AM Rohan Prasad <notifications@github.com> wrote:

[2019-08-03 14:44] IvanDelsinne opened #1165 "[Feature Request] Standalone developer tools instance"
Currently, we can debug a page on the [Servo project](https://servo.org/) using Firefox, after tweaking a bit the dev tools to connect to a remote host.

Connecting to servo's exposed dev server from Firefox opens a developer tools window.

It'd be nice, just like we start servo using command line arguments, to be able to run a standalone dev tools instance, directly wired to said servo instance,

[2019-10-03 14:19] rubyil opened #1167 "[Feature Request] Style Editor files name search"
Dear developers,
Firstly, I'd like to express my gratitude for making my life as a developer easier with every release.
Recently I started using Style Editor and I find it extremely useful to the point that I rarely use text editor for styles maintenance nowadays. It would so helpful to have a way to search or filter the list of files by name.

[2019-11-11 09:59] brumm opened #1183 "Toolbar popover menus appear in wrong position after zoom (shifted to the right)"
macOS Mojave 10.14.6 (18G87)
Firefox 70.0.1 (64-bit)

After increasing the font size of the devtools via `cmd-+`, popover menus appear in the wrong position. Increasing the font size again causes the popover to shift even more to the right.

Here's a gif:
![Screen Recording 2019-11-11 at 10 39 38](https://user-images.githubusercontent.com/170500/68578303-04b56100-0472-11ea-9e85-b13439806e3b.gif)

[2019-11-13 10:54] juliandescottes commented on #1183
@brumm Hi! Thanks for filing.

I can't reproduce your issue at the moment (also testing on 10.14.6 + 70.0.1), so I have a few questions :)
Does it happen consistently for you?
Anything else we should know about your setup? Are you using a retina (hi-dpi) screen or a regular monitor?
DevTools seem to be docked left on your browser?
Could you go to about:config and check the value "devtools.toolbox.

[2019-11-13 11:21] brumm commented on #1183
Hey, good catch regarding retina vs. regular monitor. I experienced this on a regular monitor. I'm not able to reproduce it on retina, but can do so consistently on a regular monitor.

Yeah, the devtools were docked to left. I tried to reproduce the bug while docked to the right, but I'm not able to. Switching back to the left I can reproduce it again. I can also reproduce it when docked to the bo

[2019-11-13 12:20] juliandescottes commented on #1183
Thanks for the additional info, this definitely helps.

And the way the popup looks when it is mis-positioned indicates that it thinks it's on the edge of the screen. When the popup has enough space to be displayed, the arrow is not near the edge of the popup as it is in your screenshot.

So for some reason we don't calculate correctly the available width.

Even with your added information I can't

[2019-11-13 15:05] brumm commented on #1183
- Confirmed to happen with a fresh profile as well
- main screen retina virtual resolution of 1680x1050
  both external screens are 2560x1440
  setup like so:
  ![image](https://user-images.githubusercontent.com/170500/68775677-30ca1100-062f-11ea-9227-d1efc5db683a.png)

[2019-11-13 15:13] juliandescottes commented on #1183
Thank you so much for all the details! I'll move the issue to Bugzilla where we normally track DevTools bugs. I have a strong feeling the dual/triple screen setup is why I can't repro for now, hopefully I can get help from peers who have a similar setup!

[2019-11-13 15:25] brumm commented on #1183
Yeah, I wasn't sure where to file this bug :) Thanks for your help!

[2019-11-13 15:32] juliandescottes commented on #1183
Well I hope I can actually fix it at some point :D
Here is the bugzilla link: https://bugzilla.mozilla.org/show_bug.cgi?id=1596120

[2020-04-15 08:39] kamil7x opened #1194 "DevTools language"
I couldn't find this anywhere, so I am not sure if this is supported or not.

I think it would be nice option to have separate language option for devtools. I prefer using apps in my native language, but for debugging, it is easier for me to use English. So I would really appreciate option to set DevTools to English

[2020-04-25 13:48] FezVrasta commented on #1183
Have the Firefox Dev Tools maintainers consider to switch to Popper for the tooltip positioning? It should address all the edge cases for free.

[2020-07-09 16:35] #1143 closed

[2020-07-29 12:36] atopal opened #1206 "Some in-product Firefox links don't redirect to English (en-US) page if localized version doesn't exis"
Hi all,

This is originally from https://github.com/mdn/kuma/issues/7209

**Summary**
Some in-product Firefox links don't redirect to English (en-US) page if localized MDN document version doesn't exist.

**Steps To Reproduce (STR)**
_How can we reproduce the problem?_

1. Get a localized Firefox Nightly (79.0a1) or Beta (78.0b3). Reproduced this with German (de) and French (fr).
2. Open https://w

[2020-07-29 12:49] nchevobbe commented on #1206
thanks for the report @atopal !
This repository shouldn't be used anymore, and since this issue relates to the storage inspector, I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1655957 on bugzilla to address it :)

[2020-07-29 12:49] #1206 closed

[2020-07-29 12:55] atopal commented on #1206
Sorry Nic, and thank you!

[2021-02-25 16:45] nchevobbe commented on #548
should be handled in https://bugzilla.mozilla.org/show_bug.cgi?id=1420826

[2021-02-25 16:45] #548 closed

[2021-04-06 21:27] CamJN opened #1227 "Dark/Light Mode emulation doesn't affect SVGs in IMG tags"
## Problem:

Use devtools simulate dark/light mode buttons to switch dark/light mode:
html is affected, svg is not.

Use actual OS dark/light mode switch to switch dark/light mode:
both html and svg affected.

Ideal situation:
both html and svg affected by devtools simulate dark/light mode buttons.

#### Test files:

html file contents:
[code]
svg file contents:
[code]

[2021-04-07 06:27] nchevobbe commented on #1227
Hello @CamJN , I was able to replicate the issue, and I filed https://bugzilla.mozilla.org/show_bug.cgi?id=1703451 for taking care of it.
This repo is only for some libraries that are used by DevTools, but it's better if bugs can be filed on https://bugzilla.mozilla.org :)
I'm going to close this one, so let's continue the discussion on Bugzilla :)

[2021-04-07 06:27] #1227 closed